/* Global Styles */
.title {
  padding: 1.5rem 2rem 0.8rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
.underline {
  border-bottom: 1px solid grey;
  opacity: 0.6;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

/* Mobile */
/* Portrait phones and smaller */
@media (min-width: 320px) {
  .tablebg {
    display: none;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
  }

  button.headerButton {
    width: 7.0625rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* Hero */
  .hero {
    background-color: #361060;
    padding: 3rem;
    padding-right: 6rem;
  }

  button.heroButton {
    width: 7rem;
    color: #fff;
  }

  .heroTitle {
    font-size: 1.7rem;
    color: #fff;
  }

  .heroText {
    color: #fff;
    text-align: justify;
  }

  .headerImg {
    width: 100px;
    margin-left: 1.4rem;
    height: 44px;
    margin-top: 0.7rem;
  }

  /* Form */
  .form {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 2rem 2rem;
  }

  button.formbtn {
    margin-top: 1rem;
    width: 31%;
    color: #fff;
    background-color: #361060;
    border: 1px solid #292468;
  }
  button.formbtn:hover {
    background-color: #292468;
  }

  .formInput {
    height: 3.625rem;
  }

  /* Submissions */

  .submissionImg {
    width: 2.6rem;
    padding-right: 1rem;
  }

  .submissionContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .submissionbtn {
    background-color: lightgreen;
    border-radius: 9%;
    border: 0px;
  }

  .submissionIconContent {
    display: flex;
    align-items: flex-start;
  }

  .submissionName {
    font-size: 0.98rem;
    font-weight: bold;
  }

  .submissionEmail {
    font-size: 0.7rem;
  }

  .submissionTitle {
    margin: 0;
    padding-right: 0.7rem;
    padding: 0;
    padding-bottom: 1rem;
  }
  .submissionContainer {
    padding: 1rem;
  }

  .underlineSubmission {
    border-bottom: 1px solid grey;
    opacity: 0.6;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  /* Guarantee */
  .guaranteeContainer {
    padding: 1rem 0rem 0rem 2rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .guaranteeTitle {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  button.guaranteeBtn {
    width: 11.875rem;
    height: 2.4375rem;
    color: #361060;
    border-color: #361060;
  }
  button.guaranteeBtn:hover {
    background-color: #292468;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 3px;
    background-color: #361060;
  }

  .footerText {
    margin-top: 1rem;
    color: #fff;
    padding-left: 1rem;
  }

  .heroAside,
  .guaranteeAsideContainer {
    display: none;
  }
  .largeScreenContainer {
    display: block;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 767px) {
  .header {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%), 0 6px 20px 0 rgb(0 0 0 / 0%);
  }
  .submissionContainer {
    padding: 2rem;
  }
  .card {
    min-width: calc(19% - -15em);
  }
  .submissionTitle {
    margin: 0;
    padding-right: 0.7rem;
    padding-bottom: 1rem;
  }
  .tablebg {
    display: table;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 11%);
    border-top: 2px solid white;
  }

  button.formButton {
    width: 16%;
  }

  /* Aside Content */
  .largeScreenContainer {
    display: flex;
    align-items: center;
  }
  .sideOne {
    width: 81%;
    padding: 1rem;
    padding-left: 0rem;
  }
  .sideTwo {
    width: 45%;
  }

  .heroAside {
    width: 16rem;
    padding: 1rem;
    background-color: #361060;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .heroAsideButton {
    margin-top: 0.3rem;
    color: #fff;
    background-color: #361060;
    width: 62%;
    height: 2.5rem;
    border-radius: 5%;
  }
  #asideButton {
    border: 0.5px solid #fff;
    background-color: #361060;
  }

  #asideButton:hover {
    background-color: white;
  }

  .heroAsideText {
    color: #fff;
    font-size: 0.9rem;
  }
  .heroAsideTitle {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .guaranteeAsideContainer {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 3rem;
    width: 16rem;
    padding: 1rem;
  }

  .guaranteeAsideTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .guaranteeAsideText {
    font-size: 0.9rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .hero,
  .underlineSubmission,
  .guaranteeContainer,
  .submissionContent {
    display: none;
  }

  .heroAside,
  .guaranteeAsideContainer {
    display: block;
    border-radius: 0.5rem;
  }

  .largeScreenContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #buttonSize {
    width: 21%;
  }
  .footerText {
    padding-left: 2rem;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .hero,
  .underlineSubmission,
  .guaranteeContainer,
  .submissionContent {
    display: none;
  }

  .heroAside,
  .guaranteeAsideContainer {
    display: block;
    border-radius: 0.5rem;
  }
  .largeScreenContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .sideTwo {
    padding-left: 2rem;
  }
  button.formButton {
    width: 10%;
  }

  .sideOne {
    padding-left: 4.5rem;
  }
  .footerText {
    padding-left: 3rem;
  }
  #buttonSize {
    width: 14%;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .hero,
  .underlineSubmission,
  .guaranteeContainer,
  .submissionContent {
    display: none;
  }

  .heroAside,
  .guaranteeAsideContainer {
    display: block;
    border-radius: 0.5rem;
  }
  .largeScreenContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .sideTwo {
    padding: 6rem;
    width: 34%;
  }

  .sideOne {
    padding-left: 5rem;
  }
  button.formButton {
    width: 10%;
  }
  .footerText {
    padding-left: 4rem;
  }
  #buttonSize {
    width: 14%;
  }
}
